/* Внутренняя страница */

body {
	height:100%;
	width: 100%;    
	background: url("../images/bg.png") repeat top center #fdfdfd;    
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: PT Sans, Tahoma, sans-serif;
	color: #333;
}

.clear {	clear: both; }

ul, ol {
	padding: 0px;
	margin: 13px 0px 0 10px;
	font-size: 1.1em;
	line-height: 1.4;
	text-align: justify;
}

li {
	padding: 0px;
	margin: 13px 0px 0 10px;
	line-height: 1.4;
	text-align: justify;
}

p {
	padding: 0px;
	font-size: 1.1em;
	line-height: 1.4;
	margin: 30px 0px 0 0px;
	text-align: justify;
	width: 100%;
}

ul {
   	list-style-image: url("../images/marker.png"); 
}

li {
	padding-left: 15px; 
}

img {
	border:0; 
	display:block; 
	padding:0;  
	margin:0;
}



/* Шапка */

#header {
	background: url("../images/back_top.png") repeat-x top center #2196c1;   
	width: 100%;
	height: 391px;
}


/* Навигационная панель с лого */

.whiteline {
	background: #fff;
	height: 6px;
	width: 100%;
}

#navpanel {
	width: 1004px;
	height:200px;
	margin: 0 auto;
	font-family: Roboto, Tahoma, sans-serif;
}

#logo {
	width: 250px;
	height: 170px;
	margin: 20px 137px 30px 137px;
	float: left;
}


/* Левая и правая часть меню */

#menu_left, #menu_right {
	display:block;
	float: left;
	margin: 20px 0;
	width: 240px;
}

#menu_left {	text-align: right; }
#menu_right { text-align: left; }

#menu_left a, #menu_right a   {
	color: #fff;
	font-size: 1.1em;
	text-decoration: underline;	
	display: block;
	padding: 3px 6px 1px 6px;
	margin: 10px 0px 10px 0px;
	text-transform: uppercase;
}

#menu_left a:hover, #menu_right a:hover   {
	text-decoration: underline;
	color: #dfdfdf;
}

#header a.current {
	text-decoration: none;
	color: #fff;
	display: block;
	text-decoration: underline;	
}


/* Фото + слоган */

#featured_slide {
	width:100%;	
	height:150px;
	margin: 44px 0px 0px 0px;	
	background: url("../images/transparent_bg.png") repeat top center; 
}

#featured {
	margin:0px auto;	
	width: 1004px;
}

#featured_slide  img {
	width: 180px;	
	padding: 0px;
	margin: -60px 0px 0px 100px;	
	height: 200px;
	float: left;
}

#featured_slide  img.info{ 
	float: left;
	height: 126px;
	width: 460px;
	margin: 15px 0px 0px 80px;	
}



/* Краткое описание страницы и заголовок */

#pageextract_area {
	width: 100%;
	height: auto;
	background: #e6ebea;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-top: 1px solid #fff;
	padding: 0;
	margin: 0;
}

.pageextract_container {
	width: 1004px;
	margin: 110px auto 0 auto;	
	height: 100%;
	border-top: solid 6px;
}

.pageextract_container   h1 {
	font-size: 2.5em;
	margin: 30px 40px 0px 40px;
	font-weight: normal;	
	text-align: center;
	text-transform: uppercase;
}

.pageextract_container.about_card   h1 { color: #77b3d4; }
.pageextract_container.about_card  { border-color: #77b3d4; }

.pageextract_container.services h1 { color: #2196c1; }
.pageextract_container.services { border-color: #2196c1; }

.pageextract_container.paycard h1 { color: #7fba4d; }
.pageextract_container.paycard { border-color: #7fba4d; }

.pageextract_container.project h1 { color: #4b99c4; }
.pageextract_container.project { border-color: #4b99c4; }

.pageextract_container.razrabotka h1 { color: #45b39c; }
.pageextract_container.razrabotka { border-color: #45b39c; }

.pageextract_container.contacts h1 { color: #e05b49; }
.pageextract_container.contacts{ border-color: #e05b49; }

.pageextract_container.partners h1 { color: #22c48a; }
.pageextract_container.partners { border-color: #22c48a; }

.pageextract_container   h2 { 
	line-height: 1.4;
	font-size: 1.2em;
	color: #555;
	margin: 20px 10px 70px 10px;
	font-weight: normal;	
	text-align: center;
}

.pageextract_container a {
	color: #e05b49;
	font-weight: bold;
}

.pageextract_container  img {
	margin: -76px auto 0px auto;
	width: 142px;
	height: 142px;
}



/* Основное содержание внутренней страницы */

#page_container {
	width: 100%;
	height: auto;
	background: #fff;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
	padding: 70px 0 10px 0;
	margin: -16px 0 0 0;
}

#inner_content {
	height: 100%;
	width: 1004px;
	margin: 0 auto 50px auto;	
}

#inner_content p.center {
	text-align: center;
}

#inner_content .partners_logo  {
	width: 140px;
	height: 120px;
	float: left;
	margin: 40px 10px 40px 10px;
}

#inner_content .partners_logo.bank {
	width: 300px;
	height: 120px;
	float: left;
	margin: 40px 10px 40px 10px;
}

#inner_content a {
	color: #11889B;
}

#inner_content a:hover {
	color: #ec2927;
}

#inner_content h2 {
	color: #555;
}


/* Информационные блоки - части внутренней страницы */

#infoblocks_area {
	width: 1004px;
	margin: 0px auto 60px auto;
}

.infoblock {
	width: 460px;
	margin: 80px 0px 0px 0;
	border-top: solid 6px;
}

.infoblock.one, .infoblock.three, .infoblock.five { float: left; }
.infoblock.two, .infoblock.four, .infoblock.six { float: right; }

.infoblock  h1 {
	font-size: 1.8em;
	margin: 30px 0px 0px 0px;
	font-weight: normal;	
	text-align: center;
}

.infoblock  h2 {
	line-height: 1.4;
	font-size: 1.1em;
	color: #555;
	margin: 30px 0px 40px 0px;
	font-weight: normal;	
	text-align: center;
}

#inner_content .infoblock.one a { color: #77b3d4; }
.infoblock.one { border-color: #77b3d4; }

.infoblock.two h1, #inner_content  .infoblock.two a  { color: #c75c5c; }
.infoblock.two { border-color: #c75c5c; }

.infoblock.three h1, #inner_content .infoblock.three a { color: #77b3d4; }
.infoblock.three { border-color: #77b3d4; }

.infoblock.four h1 { color: #49b0dd; }
.infoblock.four { border-color: #49b0dd; }

.infoblock.five h1, #inner_content .infoblock.five a { color: #2cb2c7; } 
.infoblock.five { border-color: #2cb2c7; } 

#inner_content .infoblock.six a { color: #6caf4b; } 
.infoblock.six { border-color: #6caf4b; } 

.infoblock_image {
	margin: -75px auto 0px auto;
	width: 142px;
	height: 142px;
}

.infoblock_full {
	margin-top: 60px;
	padding-bottom: 60px;
	border-top: solid 6px;
	height: auto;
}

.infoblock_full  h1 {
	font-size: 1.9em;
	margin: 30px 40px 0px 40px;
	font-weight: normal;	
	text-align: center;
	text-transform: uppercase;
}

.infoblock_full  h2 {
	line-height: 1.4;
	font-size: 1.1em;
	color: #555;
	margin: 30px 0px 10px 0px;
	font-weight: normal;	
	text-align: justify;
	width: 100%;
}

.infoblock_full.one h1 { color: #77b3d4; }
.infoblock_full.one  { border-color: #77b3d4; }

.infoblock_full.two h1 { color: #76c2af; }
.infoblock_full.two  { border-color: #76c2af; }

.infoblock_full.three h1 { color: #77b3d4; }
.infoblock_full.three  { border-color: #77b3d4; }

.infoblock_full.four h1 { color: #6caf4b; }
.infoblock_full.four  { border-color: #6caf4b; }

.infoblock_full.five h1 { color: #008ccd; }
.infoblock_full.five  { border-color: #008ccd; }

.infoblock_full.six h1 { color: #417f89; }
.infoblock_full.six  { border-color: #417f89; }

.infoblock_full.seven h1 { color: #c75c5c; }
.infoblock_full.seven  { border-color: #c75c5c; }

.infoblock_full.eight h1 { color: #74acaf; }
.infoblock_full.eight  { border-color: #74acaf; }

.infoblock_full.nine h1 { color: #65a844; }
.infoblock_full.nine { border-color: #65a844; }

.infoblock_full.ten h1 { color: #77b4be; }
.infoblock_full.ten { border-color: #77b4be; }

.infoblock_full.eleven h1 { color: #4a5d88; }
.infoblock_full.eleven { border-color: #4a5d88; }

.infoblock_full.twelve h1 { color: #086d4c; }
.infoblock_full.twelve { border-color: #086d4c; }

.infoblock_full.thirteen h1 { color: #3e6e99; }
.infoblock_full.thirteen { border-color: #3e6e99; }

.infoblock_full .infoblock_image img {
	margin: -155px auto 0 auto;
	width: 140px;
	height: 140px;
}

.infoblock_full  img.left {
	float: left;
	margin: 35px 27px 32px 0px;
	box-shadow: 0 0px 15px rgba(0,0,0,0.25);
	border: 1px #fff solid;
	width: 340px;
	height: 227px;
}

.infoblock_full  img.right {
	float: right;
	margin: 35px 0px 32px 27px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.3),0 4px 10px -4px rgba(0,0,0,0.3);
	border: 1px #fff solid;
}




/* Социальные кнопки */

#social  {
	width: 320px;
	margin: 70px auto 10px auto;
}

#social img{
	float: left;
	margin: 5px;
	width: 53px;
	height: 53px;
}



/* Футер */

#footer {
	width: 100%;
	height: 210px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	margin: 10px 0 0 0;
	background: url("../images/back_top.png") repeat-x top center #2196c1;   
	color: #fff;
}

#footer .container {
	width: 1004px;
	margin: 0 auto;
}

#footer #logo {
	width: 140px;
	height: 100px;
	margin: 50px 70px 20px 70px;
	float: left;
}

#footer_info_left{
	float: left;
	width: 360px;
	text-align: right;
	margin-top: 50px;
}

#footer_info_right{
	float: left;
	width: 340px;
	text-align: left;
	margin-top: 55px;
}

#footer a{
	color: #fff;
}

.strong {
	font-weight: 700;
}